@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');

body{
    overflow: hidden;
}

.admin {
    max-width: 1200px;
    margin: 0 auto;
    overflow: scroll !important;
}

.container {
    padding: 0 100px;
}
.admin {
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    z-index: 100;
}

/* -------start header--------------------------------------------------------------------------- */
header{
    display: flex;
    justify-content: space-between; 
    padding-bottom: 50px;
}

.logo{
    width: 10%;
}

.logo{
    width: 15%;
    height: 50%;
}

.headerText{
    font-size: 21px;
    border-right: 2px solid #E3071C;
}

.headerText p{
    padding-right: 20px;
    max-width: 160px;
    font-weight: 600;
    margin: 0;
    text-align: right;
}

/* -------end header---------------------------------------------------------------------------------------- */
/* -------Start content---------------------------------------------------------------------------------------- */

.content {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
    align-items: baseline
}

.content_block{
    background: #FFFFFF;
    border: 11px solid #FFFFFF;
    box-shadow: 3px 8px 20px 0 rgba(142,142,142,0.50);
    border-radius: 93px;
    width: 500px;
    text-align: center;
    padding: 80px 0 48px 0;
    margin-top: 100px;
    align-self: center;
    position: absolute;
    height: 300px;;
}

.content .line{
    display: block;
    margin: auto;
    border-bottom: 2px solid #E3071C;
    width: 100px;
}

.content_block p{
    margin: 0;
}

.content_block .genreText{
    font-size: 28px;
    color: #595959;
    font-weight: 600;
    padding-bottom: 10px;
}

.content_block .genre{
    font-size: 58px;
    font-weight: 700;
}

.content_block .line{
    padding-bottom: 35px;
    margin-bottom: 40px;
}

.content_block .genreDescription{
    font-size: 21px;
}

.info_block{
    display: flex;
    align-self: center;
    flex-direction: column;
    padding-top: 60px;
    transform: translateY(410px);
}

.info_block img{
    align-self: center;
    width: 40%;
    height: 50%;
}

.info_block .line{
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.info_block p{
    text-align: center;
    font-size: 19px;
    font-weight: 500;
    max-width: 270px;
    margin: 0;
}

.red_x, .green_heart{
    position: absolute;
    height: 800px;
}

.red_x{
    left: -20vw;
    bottom: -15vh;
}

.green_heart{
    right: -20vw;
    bottom: -15vh;
}

/* -------end content---------------------------------------------------------------------------------------- */
/* -------start resultpage---------------------------------------------------------------------------------------- */
.random_circle{
    width: 1216px;
    height: 1216px;
    background-color: #F8F8F8;
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    left: -100px;
    bottom: -500px;
}

.results_page .content{
    flex-direction: row;
    justify-content: left;
    padding-top: 80px;
}

.results_page .results{
    min-width: 300px;
    max-width: 300px;
    padding-right: 40px;
}

.rating{
    padding: 30px 0;
}
.star_rating {
    width: 15px
}

.star_rating.disabled{
    opacity: 0.4
}

.rating_amount{
    display: inline-block;
    padding-left: 15px;
}

.results p{
    margin: 0;
    font-size: 13px;
    font-weight: 600;
}

.results .book_result_author{
    padding-bottom: 5px;
}

.results .book_result_description{
    font-weight: 500;
    margin-top: 20px;
    max-width: 200px;
}

.results:nth-child(3) img{
    max-width: 150px;
}

.qr_section{
    align-self: flex-start;
    display: flex;
    flex-direction: column;
}

.qr_section p{
    text-align: center;
    max-width: 250px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    margin: 0;
}

.qr_section .qrcode{
    width: 100px;
    align-self: center;
    padding-top: 30px;
}

.again{
    position: absolute;
    width: 300px;
    right: 200px;
    bottom: 100px;
}

.again img{
    display: block;
    margin: auto;
    padding-bottom: 30px;
    width: 100px;
    
}
.again p{
    font-size: 19px;
    font-weight: 500;
    max-width: 290px;
    text-align: center;
    line-height: 23px;
}
.again .line{
    display: block;
    margin: auto;
    border: 1px solid red;
    width: 140px;
}

/* -------end resultpage---------------------------------------------------------------------------------------- */
.red_x path, .green_heart path {
    transition: fill ease-in-out .75s .1s;
}

#send {
    padding: 3rem;
    border-radius: 5px;
    font-size: 22px;
    font-family: sans-serif;
    box-shadow: 0 2px 5px 1px rgba(0,0,0,0.3);
    display: block;
    width: 75%;
    text-align: center;
    margin: 0 auto;
    border: solid black 1px;
}

.red_x{
    left: 0vw;
    bottom: -15vh;
}

.green_heart{
    right: 0vw;
    bottom: -15vh;
}

/* -------end content---------------------------------------------------------------------------------------- */

.book {
    position: relative;
    margin: 0 auto;
    width: 400px;
    height: 600px;
}

.book .front {
    background: rgb(121, 8, 8);
    position: relative;
    width: 100vw;
    top: 0;
    box-sizing: border-box;
    overflow: hidden;
}

html {
     scroll-behavior: smooth;
}

.admin .genre {
    height: 100vh;
    padding: 35vh 0;
    box-sizing: border-box;
}

.admin .genre h2 {
    text-align: center;
}

.admin .buttons {
    display: flex;
    justify-content: space-around
}

.admin .buttons a {
    width: 45%;
    text-align: center;
    background: #eee;
    padding: 3rem 0;
    border-radius: 5px;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.4);

}

@keyframes like {
    0% {
        transform: none;
    }

    100% {
        transform: translateX(80vw) translateY(150px) rotate(65deg);
    }
}

@keyframes dislike {
    0% {
        transform: none;
    }

    100% {
        transform: translateX(-80vw) translateY(150px) rotate(-65deg);
    }
}

.like {
    animation: like 1s ease-in-out forwards;
}

.dislike {
    animation: dislike 1s ease-in-out forwards;
}

.keywords .genre {
    font-size: 40px;
    word-break: break-all;
}