<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin</title>
</head>
<body>

    <%for (var i = 0; i < genres.length; i++){%>
        <div class="genre" id="<%= genres[i].title %>">
            <h2><%= genres[i].title %></h2>
                <a id="dislike" data-genre="<%= genres[i].title %>">Dislike</a>
                <a id="like" data-genre="<%= genres[i].title %>">Like</a>
        </div>
    <%}%>
    
    <a id="#send">Verstuur lijst</a>

    <script src="/socket.io/socket.io.js"></script>
    <script src="script/admin.js"></script>
</body>
</html>