<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style/style.css">
    <title>AKO Boekenkiezer</title>
</head>
<body>

    <div class="container">

        <div class="introduction">
            <h1>AKO boekenkiezer</h1>
            <p>Welkom bij de AKO boekenkiezer. Via dit interactief scherm kunt u op een leuke manier een boek kiezen die bij u past.</p>
            <p>Zwaai om te beginnen</p>

        </div>

        <%for (var genre in genres){%>
            <div class="genre <%= genres[genre].title %>">
                <h2><%= genres[genre].title %></h2>
            </div> 
        <%}%>

    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="script/script.js"></script>
</body>
</html>