<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style/style.css">
    <title>AKO Boekenkiezer</title>
</head>
<body class="index_page">
    <div class="random_circle_index"></div>
    <div class="random_circle_index_red">
        <p>Binnen 1 minuut jouw favoriete boek vinden?</p>
    </div>
    <div class="container index">
        <header>
            <img src="../images/akologo.png" alt="Ako_logo" class="logo"/>
        </header>
        
        <div class="introduction">
            <img src="../images/hand_zwaai.png" alt="hand zwaai" />
            <div class="line"></div>
            <p>Swipe naar rechts om te beginnen</p>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="script/script.js"></script>
</body>
</html>