<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style/style.css">
    <title>Steekwoorden</title>
</head>

<body>
    <div class="container">
        <header>
            <img src="../images/akologo.png" alt="Ako_logo" class="logo" />
            <div class="headerText">
                <p>Geef aan welk steekwoord je voorkeur heeft</p>
            </div>
        </header>
        <div class="content keywords">
            <% var i = '9999'; %>
            <% var count = 0 %>
            <% for (var word in books) { %>
                <% if (count != 10) { %>
                    <div class="content_block" data-index="<%= i %>">
                        <p class="genreText">Steekwoord:</p>
                        <p class="genre"><%= books[count].Steekwoorden %></p></p>
                        <div class="line"></div>
                    </div>
                    <% count = count + 1 %> 
                <% } %>
                <% i = i - 1 %>
            <% } %>

            <div class="info_block">
                <img src="../images/hand_zwaai.png" alt="hand zwaai" />
                <div class="line"></div>
                <p>Swipe naar links of rechts om je voorkeur aan tegeven</p>
            </div>
            <svg class="red_x" width="333px" height="577px" viewBox="0 0 333 577" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Screen" transform="translate(0.000000, -323.000000)" fill="#FFD7D7">
                        <path d="M-0.5,990 C-184.686964,990 -334,840.686964 -334,656.5 C-334,472.313036 -184.686964,323 -0.5,323 C183.686964,323 333,472.313036 333,656.5 C333,840.686964 183.686964,990 -0.5,990 Z M215,730.999235 L110.000765,626 L215,520.994136 L125.005864,431 L20,535.999235 L-85.0058643,431 L-175,520.994136 L-70.0007649,626 L-175,730.999235 L-85.0058643,821.006629 L20,716.000765 L125.005864,821 L215,730.999235 Z"
                            id="Combined-Shape"></path>
                    </g>
                </g>
            </svg>
           <svg class="green_heart" width="366px" height="589px" viewBox="0 0 366 589" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Screen" transform="translate(-1074.000000, -311.000000)" fill="#C8FFCB">
                        <path d="M1407.5,978 C1223.31304,978 1074,828.686964 1074,644.5 C1074,460.313036 1223.31304,311 1407.5,311 C1591.68696,311 1741,460.313036 1741,644.5 C1741,828.686964 1591.68696,978 1407.5,978 Z M1629.26445,560.450698 C1622.76875,488.911635 1572.16392,437.008563 1508.83299,437.008563 C1466.64089,437.008563 1428.00903,459.727397 1406.27111,496.139187 C1384.73004,459.256407 1347.68144,437 1306.16545,437 C1242.84308,437 1192.22968,488.903072 1185.74254,560.442135 C1185.22905,563.602048 1183.12372,580.232268 1189.52528,607.352715 C1198.75106,646.470555 1220.06106,682.051691 1251.13601,710.225442 L1406.16841,851 L1563.86243,710.234006 C1594.93738,682.051691 1616.24738,646.479119 1625.47316,607.352715 C1631.87471,580.240832 1629.76939,563.610611 1629.26445,560.450698 Z" id="Combined-Shape"></path>
                    </g>
                </g>
            </svg>
        </div>

    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="script/scriptKeywords.js"></script>
</body>

</html>