<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Resultaat</title>
</head>
<body>
    <div class="container">
        <h1><%= results[0].Naam %> - <%= results[0].Genre %></h1>
        <img src="<%= results[0].kaft_image %>" />
        <p><%= results[0].Plot %>
    </div>
</body>
</html>